<%= render "form", student: @student %>

<br>

<div class="d-flex justify-content-between mt-3">
  <%= link_to "Show this student", @student,class: "btn btn-sm",style: "background-color: #6E3883; color: white; border: none;" %>

  <%= link_to "Back to Students", students_path, class: "btn btn-sm", style: "background-color: #B56AB2; color: white; border: none;" %>
</div>
